* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

html, body {
  border: 0 none;
  height: 100%;
  width: 100%;
  background-color:#181f1b;
}

.Header {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
}

.navbar {
  flex: 0 1 auto;
  background-color:#434d47;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .navbar .navbar-buttons {
      justify-content: center;
      gap: 6px;
  }

  .navbar-buttons a {
      flex-grow: 1;
  }
}

.navbar-buttons {
  margin: 6px 0px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.nav-btn-clicked {
  background: #3ddb77;
}

.navbar-buttons a {
  color: ghostwhite;
  text-align: center;
  padding: 12px 30px 12px 30px;
  margin: 0px 10px;
  text-decoration: none;
  font-size: 24px;
  border-bottom: solid 4px transparent;
  transition: all 300ms ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  white-space: nowrap;
}

.navbar-buttons a:hover {
  border-bottom: solid 4px #47fc89;
}