$primary-color: #007bff;
$font-size: 16px;
@use "@material/checkbox"; // Required only for data table with row selection.
@use "@material/icon-button"; // Required only for data table with column sorting.
@use "@material/data-table/data-table";

@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

html, body {
  border: 0 none;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

.Header {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
}

.navbar {
  flex: 0 1 auto;
  background-color: #434d47;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .navbar-buttons {
    margin: 6px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
  }

  .nav-btn-clicked {
    background: #3ddb77;
  }

  .navbar-buttons a {
    color: ghostwhite;
    text-align: center;
    padding: 12px 30px 12px 30px;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 24px;
    border-bottom: solid 4px transparent;
    transition: all 300ms ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    white-space: nowrap;

    &:hover {
      border-bottom: solid 4px #47fc89;
    }
  }

  @media only screen and (max-width: 500px) {
    .navbar-buttons {
      justify-content: center;
      gap: 6px;
    }

    .navbar-buttons a {
      flex-grow: 1;
    }
  }
}

.main {
  margin-left: 7%;
  margin-right: 7%;
  border: none;
  min-height: 2000px;
  display: flex;
}

.mdc-data-table {
  &__table-container {
    // Styles
  }

  &__table {
    // Styles
  }

  &__header-row {
    // Styles
  }

  &__header-cell {
    // Styles
  }

  &__content {
    // Styles
  }

  &__row {
    // Styles
  }

  &__cell {
    // Styles
  }

  &__cell--numeric {
    // Styles
  }

  &__progress-indicator {
    // Styles
  }

  &__scrim {
    // Styles
  }

  &__linear-progress {
    // Styles
  }

  &__buffer {
    // Styles
  }

  &__buffer-bar {
    // Styles
  }

  &__buffer-dots {
    // Styles
  }

  &__bar {
    // Styles
  }

  &__primary-bar {
    // Styles
  }

  &__bar-inner {
    // Styles
  }

  &__secondary-bar {
    // Styles
  }
}




